.projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    width: auto;
    margin-top: 50px;
  }
  
  .projects .projects-intro h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  
  .projects .projects-intro h2:hover {
    animation: bounce 0.9s ease-in-out infinite;
    text-decoration: underline;
    cursor: pointer;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .projects .ashi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  @media only screen and (max-width: 590px) {
    .projects {
      margin-top: 200px;
      flex-direction: column; /* Add this line to change flex direction to column */
      align-items: center; /* Add this line to center align items */
    }
  }
  
  .iframe{
    width: 1200px;
    height: 600px;
  }
  
  .ashi .ashi-part-one {
    display: flex;
    flex-direction: column; /* Changed from 'row' to 'column' */
    justify-content: center;
    width: 100%;
  }
  
  .ashi .ashi-part-one .ashi-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ashi .ashi-about{
    display: flex;
    justify-content: center;
    flex-direction: column; /* Added to make it go under ashi-title */
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .ashi .ashi-part-one .ashi-link{
    background-color: #14213d ;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 32px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 5%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .ashi .ashi-part-one .ashi-link a{
    display: flex;
    justify-content: center;
  }
  
  .ashi .ashi-part-one .ashi-link{
    color: white;
    text-decoration: none;
    justify-content: center;
  }
  
  .ashi .ashi-part-one .ashi-link:hover{
    background-color: #fca311;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .ashi .lang-used {
    display: flex;
    justify-content: center; /* Added to center the images */
    margin-bottom: 20px;
  }
  
  .ashi .lang-used img {
    width: 36px;
    height: 36px;
    margin: 10px;
    display: inline-block;
  }
  .ashi .ashi-part-two {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .ashi-part-two img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2); /* Added box shadow */
  }

@media (max-width: 570px) {
    .projects{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        width: auto;
        margin-top: 50px;
      }

    
}